.swiper{
    max-width: 470px;
    margin-left: 0;
 }
 .product-image-slider .swiper-slide{
    padding-top: 100%;
    overflow: hidden;
    position: relative;
 }
 .product-image-slider .swiper-slide img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
 }
 .product-image-slider-slider-thumbs {
   .swiper-slide {
      cursor: pointer;
      border: 1px solid #ddddbd;

      &-thumb-active{
         border-color: black;
      }
   }

   &-wrapper{
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      position: relative;
      img{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
      }
   }
 }
.swiper-button-prev::after{
   color: black;
}
.swiper-button-next::after{
   color: black;
}
.swiper-slide{
   width: 100%;
}
.flexInModal{
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   .modalTitle{
      p{
         color: #9ea1a6;
      }
      span{
         color: #444B58;
      }
      h1{
        color: #444B58;
        font-weight: 400;
        font-size: 30px;
        margin-top: 20px;
      }
   }
   .articleInModal{
      display: flex;
      gap: 45px;
   }
   input[type=radio]{
      display: none;
   }
   .star{
      cursor: pointer;
      padding-left: 3px;
   }
   .starRating{
      margin-top: 20px;
   }
   .modalSize{
      margin-top: 20px;
      margin-left: 2px;
      p{
         color: #444B58;
      }
      .btnFlex{
         display: flex;
         align-items: center;
         gap: 24px;
         button{
            padding: 10px 26px;
            border-radius: 4px;
            border-color: #B2B5BB;
            background-color: white;
            color: #444B58;
         }
      }
      .modalPrice{
         display: flex;
         align-items: center;
         margin-top: 40px;
         gap: 20px;
         h2{
            font-weight: 700;
            font-size: 30px;
            color: #444B58;
         }
         p{
            color: #B2B5BB;
            font-weight: 400;
            font-size: 20px;
            margin-top: 5px;
         }
      }
      .modalBtn{
         button{
            padding: 22px 195px;
            margin-top: 28px;
            background-color: #F14F4F;
            border: none;
            color: white;
            border-radius: 4px;
         }
      }
      .flexOnThreeCheck{
         margin-top: 10px;
         .flexOnCheck{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
               margin-top: 12px;
               color: #B2B5BB;
            }
            .check{
               svg{
                  display: block;
               }
            }
         }
      }
   }
   
}